.texto-header{
    font-family: var( --fonte-padrao);
}
.header{
    background-color: var(--cor-padrao);
}
.mat-icon-button{
    display: none;
}

@media screen and (max-width: 720px) {
    .mat-icon-button{
        display: block;
    }
  }