<p>
    <mat-toolbar color="primary" class="header">
      <button mat-icon-button class="menuButton" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="texto-header">Finanças</span>
      <span class="usuario-logado"></span>
      <!-- <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menuUsuario">
        <mat-icon>share</mat-icon>
      </button> -->
      <button mat-button [matMenuTriggerFor]="menuUsuario">
         <span class="menuUsuario"> Olá, <strong>{{ userDetails.nome}}</strong></span>
         <mat-icon>expand_more</mat-icon></button>
    </mat-toolbar>
  </p>

  <mat-menu #menuUsuario="matMenu">
  <a mat-menu-item style="margin-top: 10px;" (click)="sair()">
    <span>Sair</span> 
</a>
  </mat-menu>

  <mat-menu #menu="matMenu">
    <a mat-menu-item class="item-menu" routerLink="/aplicacao/">
      <mat-icon>home</mat-icon>
      <span>Início</span>
  </a>
  <a mat-menu-item class="item-menu" routerLink="/aplicacao/clientes">
      <mat-icon>people</mat-icon>
      <span>Clientes</span> 
  </a>
  <a mat-menu-item class="item-menu" routerLink="/aplicacao/servicos">
      <mat-icon>miscellaneous_services</mat-icon>
      <span>Serviços</span> 
  </a>
  </mat-menu>